*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(185, 185, 150);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 85%;
    min-width: 35rem;
    display: grid;
    grid-template-rows: 6rem 10rem 12rem 2rem;
    justify-content: center;
    background-image: url(./img/9f146b598a117df287b768e9de208e15.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

h1{
    color: rgb(26, 25, 25);
    align-self: center;
    width: 35rem;
    text-align: center;
    text-shadow: 2px 2px rgb(128, 126, 126);
    margin: 0 auto;
}

.inputs{
    border-bottom: 3px solid #6b4a33;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 5rem;
    width: 30rem;
    margin: 0 auto;
}
.input-group {
    border: 1px solid rgb(114, 113, 113);
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px rgb(114, 113, 113);
}

.input-group input{
    border: none;
    outline: none;
    width: 17rem;
    height: 2.6rem;
    background-color: transparent;
    padding-left: 1rem;
}

.tasks{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 30rem;
    margin: 0 auto;
    padding: 1.5rem 0;
    overflow-y: auto;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0 0.8rem;
}

.task i{
    color: rgba(0, 0, 0, 0.7);
}

.task p{
    padding-left: 0.5rem;
    word-wrap: break-word;
    max-width: 25rem;
}

.task .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #6b4a33;
    color: #bb4a33;
    text-shadow: 1px 1px rgb(156, 155, 155);
    width: 30rem;
    margin: 0 auto;
}
.strikethrough{
    text-decoration: line-through;
    color: rgba(150, 126, 72, 0.7);
}

.strikethrough i{
    color: rgba(150, 126, 72, 0.7);
}

@media screen and (max-width: 650px){
    .container{
        width: 350px;
    }

    h1{
        width: 350px;
    }

    .inputs{
        width: 22rem;
    }

    .tasks{
        width: 20rem;
    }

    .task p{
        width: 15rem;
    }

    .stats{
        width: 20rem;
    }
}